# Airflow
airflow/logs/*
airflow/__pycache__/
airflow/.airflowignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Docker
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.parquet
data/